<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= include('../partials/header') %>
   <h1> el producto es <%=  product.precio %>  </h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto harum neque et quas aliquam quisquam velit, quidem temporibus voluptatibus assumenda illo ratione eum non, suscipit beatae dolorum nemo eveniet reiciendis?</p>
</body>
</html>